*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: #000000;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.left
{   
    width: 47vh;
    height: 100vh;
    background: #121418;
    border-right: 0.1rem solid #3C444F;   
    z-index: 2; 
}
.left-bottom
{
    width: 100%;
    padding: 8% 0%;
    background:linear-gradient(50deg,#FD455A,#FF5A3E) ;  
    z-index: 3;  
}
.left-bottom a{
    width: 60%;
    color: aliceblue;
    display: flex;   
    margin-right:5%;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name
{
    font-size: 0.9rem;
}
.a1
{
    margin-left:1%;
}
.a1:hover
{
    background: #381311;
    border-radius: 30px;
}
.left-bottom ul
{
    margin-right:5%;
    padding: 2%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.left-bottom a i:hover{
    background-color:#381311;
    border-radius: 50%;
}
.left-bottom a img{
    margin-right: 2%;
    margin-left: 0%;
    width: 20%;
    height:20%;
    border-radius: 50%;
}
.left-bottom ul li a i
{
    margin-left: 1%;
    margin-right: 92%;
    justify-content: space-between;
    align-items:center;
}
.a2 
{
    margin-top: 1%;
    border-radius: 50%;
    background: #381311;
}
