*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: #000000;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.menu
{
    display: none;
    height: 9%;
    width: 98%;
    padding-left: 2%;
    align-items: center;
    text-decoration: none;
    color: white;
    background:#121418;
}
.left
{   
    font-size: 100%;
    width: 20%;
    height: 100vh;
    background: #121418;
    border-right: 0.1rem solid #3C444F;   
    z-index: 2; 
}
#close
{
    display: block;
}
@media screen and (max-width:400px) {
    #close
    {
        display: none;
    }
    .menu{
        display:block;
    }
}
.left-above
{
    display: flex;
    width: 100%;
    padding: 8% 0%;
    background:linear-gradient(50deg,#FD455A,#FF5A3E) ;  
    z-index: 3;  
}
.left-above a{
    font-size: 100%;
    color: aliceblue;
    display: flex;   
    margin-right:5%;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name
{
    font-size: 0.9rem;
}
.a1
{
    padding: 2%;
    padding-left: 2%;
    margin-left:1%;
    width: 65%;
}
.a1:hover
{
    background: #381311;
    border-radius: 30px;
}
.left-above ul
{
    margin-right:5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.left-above a img{
    margin-right: 2%;
    margin-left: 0%;
    width: 30%;
    height:30%;
    border-radius: 50%;
}
.left-above ul li a i
{
    margin-left: 3%;
    padding-left:0.8rem;
    justify-content: space-between;
    align-items:center;
}
.a2 
{
    font-size: 100%;
    margin-top: 45%;
    border-radius: 50%;
}
.a2:hover
{
    font-size: 150%;
}
.left-below
{
    top: 30%;
}
