*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: #000000;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.khung
{
    position: fixed;
    justify-items: left;
    width: 100%;
    height: 100%;
    display: flex;
}
.left
{   
    font-size: 100%;
    width: 25%;
    height: 100vh;
    background: #121418;
    border-right: 0.3rem solid #3C444F;   
    z-index: 2; 
}
@media screen and (max-width:1000px) {
    .left
    {
        display: none;
    }
    .like1
    {
        margin-left: 2vh;
    }
    .center{
        display: block;
    }  
    .left_right{
        opacity: 1;
    }
    
}
.left-above
{
    display: flex;
    width: 100%;
    height: 5vh;
    padding: 8% 0%;
    background:linear-gradient(50deg,#FD455A,#FF5A3E) ;  
    z-index: 3;  
}
.left-above a{
    font-size: 100%;
    color: aliceblue;
    display: inline-flex;   
    margin-right:5%;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left-belowc
{
    display: block;
}
#close{
    display:none;
}
#close{
    width: 100%;
    height: 100%;
}
.name
{
    font-size: 0.9rem;
}
.a1
{
    display: flex;
    padding: 2%;
    padding-left: 2%;
    margin-left:1%;
    align-items: center;
    width: 50%; 
}
.a1:hover
{
    background: #381311;
    border-radius: 30px;
}
.left-above ul
{
    margin-right:5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.left-above a img{
    margin-right: 2%;
    margin-left: 0%;
    width: 30%;
    height:30%;
    border-radius: 50%;
}
.left-above ul li a i
{
    margin-left: 3%;
    padding-left:0.8rem;
    justify-content: space-between;
    align-items:center;
}
.a2 
{
    overflow:visible;
    font-size: 20vh;
    transition: all 0.5s ease;
    margin-top: 50%;
    border-radius: 50%;
}
.a2:hover
{
    transform: scale(1.1);
}
.left-below
{
    width: 100%;
}
.avt:hover
{
    transform: scale(1.1);
}
.chat
{
    margin-top: 3%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-left: 5%;
    color: white;
    display: flex;
    margin-right: 40%;
    cursor: pointer;
}
.chat span
{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10%;
    display: flex;
    font-size: 1rem;
    cursor:pointer;
}
.avt
{
    overflow: visible;
    position: relative;
    border-radius: 3%;
    margin-left: 2%;
    width: 6.5rem;
    height: 100%;
    margin-top: 3%;
    display:inline-block;
    transition: all 0.5s ease;
    cursor:pointer;
}
.avt::after
{
    width: 10px;
    height: 10px;
    position: absolute;
    content:"";
    bottom: 90%;
    left: 90%;
    border-radius: 50%;
    background-color: red;
    border: 2px solid #000000;
}
.avt p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 90%;
}
.avt1
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/a4.jpg);
}
.avt2
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/huy.jpg);
}
.avt3
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/quynh.jpg);
}
.avt4
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/thanh.jpg);
}
.avt5
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/huy.jpg);
}
.menu-find::-webkit-scrollbar{
    display: none;
}
.menufind
{
    display: none;
    overflow: scroll;
    height: 85vh;
    border-radius: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}
.menu-find
{
    border-radius: 3%;
    margin-left: 2%;
    width: 10rem;
    height: 18rem;
    margin-top: 3%;
    display:inline-block;
    transition: all 0.5s ease;
    cursor:pointer;
}
.menu-find p
{
    margin-top: 100%;
    margin-left: 1%;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align:left;
    text-align-last: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}
.menu1
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu1.jpg);
}
.menu2
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu2.jpg);
}
.menu3
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu3.jpg);
}
.menu4
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu4.jpg);
}
.menu5
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu5.jpeg);
}
.menu6
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu6.jpeg);
}
.menu7
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu7.jpeg);
}
.menu8
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu8.jpeg);
}
.menu9
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu9.jpeg);
}
.menu10
{
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./img/menu10.jpeg);
}
.congcu
{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.5);
}
.congcu1 
{   
    margin-top: 15%;
    margin-left: 40%;
    background:#121418;
    width: 25rem;
    height: 12.5rem;    
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
}
.congcu1 p{ 
    padding: 9px 0; 
    margin-bottom: 10px;
    color: white;
}
.shield p i
{
    margin-left: 3%;
}
.shield p
{
    cursor:pointer;
    border: none;
    color: white;   
    border-bottom: 2px solid #3C444F;
    
}
.t1
{    
    border-bottom: 2px solid #3C444F;
    font-size: 200%;
    text-align: center;
}
.t2{
    cursor: pointer;
    text-align: center;
    font-size: 100%;
    border-bottom: none;
}
@media screen and (min-width:990px) {
    .center-photo
    {    
        margin-top: 20%;
    }
    .center-menu
    {
        display: none;
    }
    .like1{
        margin-left: 4vh;
    }
    .left_right:hover
    {
        opacity: 1;
    }
    .left_right
    {
        height: 80%;
        opacity: 0;
    }

}
@media screen and (min-width:600px){
    .center
    {
        margin-left: 25%;
    }
}
@media screen and (max-width:600px){
    .center
    {
        margin-left: 2%;
    }
    .center-menu
    {
        margin-left: 5%;
    }
    .icon
    {
        margin-left: 8%;
    }
}
.center-menu
{
    margin-right: 100%;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5vh;
}
.center-menu ul li a img{
    margin-right: 20%;
    display: inline-block;
    width: 4vh;
    height: 4vh;
}
.center-menu ul li 
{   
    margin-left: 5%;
    justify-content: center;
    display: inline-block;  
    align-items: center;
}
.center-menu ul li i
{    
    cursor:pointer;
    font-size: 5vh;
}
.name-center
{
    font-size: 4vh;
}
.photoimg a{
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.icon
{
    width: 30vh;
}
.like 
{
    display: inline-block;
    z-index: 100;
    display: flex;
}
.like li
{
    list-style: none;
}
.center-photo ul div li p i
{
    font-size: 2vh;
}
.center-photo
{
    position: relative;   
    display: flex;
}
.like1
{
    width: 100%;
    z-index: 888;
    transition: all 0,5s ease;
    overflow: visible;
    margin-top: 70vh;
}
.like1:hover
{
    transform: scale(1.1);
}
.l2{
    font-size: 3vh;
    border-radius: 50%;
    padding: 6px 6px 6px 6px;
    border:2px solid #3D4551;
}
.l3{
    font-size: 3vh;
    font-weight:lighter;
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
    border:2px solid #EC719E;
}
.l4{
    font-size: 3vh;
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
    border:2px solid #1761B8;
}
.l5{
    font-size: 3vh;
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
    border:2px solid #199D67;
}
.l6{
    font-size: 3vh;
    padding: 6px 6px 6px 6px;
    border-radius: 50%;
    border:2px solid #B752F2;
}
.left_right
{    
    cursor: pointer;
    margin-top: 30vh;
    display: flex;
    position: absolute;
    z-index: 900;
    font-size: 5vh;
    border-radius: 50%;
}
.righta
{
    margin-left:700%;
}
.photoimg
{
   position:absolute;
}
.photoimg a p i{
 margin-top: 3vh;  
}
.photoimg a p
{ 
    margin-top: 55vh;
    margin-left: 7vh;
    position: absolute;
    width: 100vh;
    display: inline;
}
.photoimg a img
{
    border-radius: 5%;
    width: 50vh;
    height: 85vh;
    position:absolute;
    object-fit: cover;
}
.photoimg a:nth-child(2) img
{
    transform: translateX(50vh);
}
.photoimg a:nth-child(3) img
{
    transform: translateX(100vh);
}
.photoimg a:nth-child(4) img
{
    transform: translateX(150vh);
}
.photoimg a:nth-child(5) img
{
    transform: translateX(200vh);
}
.center
{
    display: block;
    width: 50vh;
    height: 89vh;
    overflow: hidden;
}